body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(255, 254, 253);
    padding: none;
    margin: none;
    color:#32B04A;
  }
  h1 {
    color: #498A92;
    padding-bottom: 50px;
  }
  .page_container {
    width: 90vh;
    margin:30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .search_container {
    display: flex;
    margin-top: 50px;
  }
  
  input {
    padding-left: 20px;
    width: 60vh;
    height: 40px;
    padding-bottom: none;
    margin-bottom: none;
    border:1px solid #F3C141;
    border-radius: 4%;
  }
  
  button {
   width: 70px;
   height: 40px;
    margin-left: 30px;
    background-color:#E85628;
    color:#F4F5F0 ;
    font-size: smaller;
    border: 1px solid#b64421;
    border-radius: 50%;
  }
  
  ul {
    padding-top: none;
    margin-top: none;
    width: 60vh;
    background-color:  rgb(253, 239, 223);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    list-style-type: none;
  }
  li {
    padding: 5px;
  }
  a{
  color: rgb(70, 112, 35);
  }
  
  a:link {
    text-decoration: none;
  }
  
  a:hover {
    color: azure;
    background-color:rgb(70, 112, 35);
  }
  canvas {
    width: 200px;
    height: 200px;
  }
  
  .price_container {
    display: flex;
    margin: 20px 0;
  }
  
  .name_container {
    color:#E85628;
    margin-top: 20px;
  }
  .first-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  
  img{
    margin:20px  70px;
    width: 80px;
    height: 80px;
  }
  .show_result{
    text-align: justify;
    text-justify: inter-word;
    width: 80vh;
    color: #E85628;
  }
  
  p {
    color:  #498A92;
    text-indent: 30px;
    font-size: small;
  }
  
  .chart_container{
    margin: 25px;
    width: 75%;
    flex-wrap: wrap;
  }
  
  